################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EFCoreSetup/.vs/EFCoreSetup.slnx/FileContentIndex/bfce7204-487c-4451-b88b-c3e80e50923a.vsidx
